{# File browser page #}
{% extends "base.njk" %}

{% block title %}{{ title }} - Portal Ink{% endblock %}

{% block header_nav %}
  <nav id="breadcrumbs">
    <a href="/" data-ajax="true">[Root]</a>
    {% if currentPath %}
      {% set parts = currentPath.split('/') %}
      {% set href = '' %}
      {% for part in parts %}
        {% if part %}
          {% set href = href + '/' + part %}
          &gt; <a href="{{ href }}/" data-ajax="true">{{ part }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </nav>
{% endblock %}

{% block content %}
  <div id="file-browser">
    {% include "partials/file-list.njk" %}
  </div>
{% endblock %}
